.App {
  text-align: center;
  background-color: lightblue;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .MuiTypography-body1 {
    width: 90%;
    text-align: left;
  }
